@media only screen and (max-width: 768px) {
  nav button {
    font-size: 32px;
  }
  .dropDown:hover .dropContent {
    border-radius: 25px;
  }
  .dropContent a {
    font-size: 32px;
  }
  .story .content {
    max-width: 100%;
  }
  .comments {
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  nav button {
    font-size: 32;
  }
  .dropDown:hover .dropContent {
    border-radius: 32px;
  }
  .dropContent a {
    font-size: 32;
  }
  .likesContainer {
    margin: 0 0 0 5%;
  }
  .viewsContainer {
    margin: 0 0 0 5%;
  }
  .story .info {
    width: 100%;
  }
  .cRight {
    font-size: 12px;
  }
  .story .tags {
    border-radius: 1rem;
    color: white;
    width: 5rem;
    height: 1.5rem;
    margin: 1rem 0.2rem 0 2rem;
  }
}
