@media only screen and (max-width: 768px) {
  nav button {
    font-size: 32px;
  }
  .dropDown:hover .dropContent {
    border-radius: 25px;
  }
  .dropContent a {
    font-size: 32px;
  }
}

@media only screen and (max-width: 600px) {
  nav button {
    font-size: 32;
  }
  .dropDown:hover .dropContent {
    border-radius: 32px;
  }
  .dropContent a {
    font-size: 32;
  }
}
.cRight {
  font-size: 12px;
}
